
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

input {
    max-width: 30px;
    margin-left: 10px;
}

ul.guess > li {
    border: 1px solid black;
    border-left:none;
    margin: -2px;
    width: 30px;
}

ul.guess > li:first-child {
    border-left: 1px solid black;
}

.high {
    color: #F0AD4E;
    font-weight: bold;
}

.low {
    color: #428BCA;
    font-weight: bold;
}

.correct {
    color: #5CB85C;
    font-weight: bold;
}

.container {
    max-width: 500px;
    margin-top: 50px;
}


