@model NumberGuessingGame.ViewModels.SecretNumberViewModel

@*
    Displays all guesses made and outcome
*@

@{
    var index = 1;
    <ul class="guess list-inline">
        @foreach (var item in Model.SecretNumber.GuessedNumbers )
	    {
		    <li>
                <p class="text-center">
                    @index
                </p>
                
                <p class="text-center">
                    @if (item.Outcome == NumberGuessingGame.Models.Outcome.High)
                    {
                        <span class="glyphicon glyphicon-hand-up high"></span>
                        @Html.DisplayFor(m => item.Number)
                    }
                    else if (item.Outcome == NumberGuessingGame.Models.Outcome.Low)
                    {
                        @Html.DisplayFor(m => item.Number)
                        <span class="glyphicon glyphicon-hand-down low"></span>
                    }
                    else
                    {
                        @Html.DisplayFor(m => item.Number)
                        <span class="glyphicon glyphicon-thumbs-up correct"></span>
                    }
                </p>       
		    </li>
            index++;
	    }
    </ul>
}