@model NumberGuessingGame.ViewModels.SecretNumberViewModel

@*
    Displays all guesses made and thier outcome
*@

@{
    <ol>
        @foreach (var item in Model.SecretNumber.GuessedNumbers)
	    {
		    <li>
                @Html.DisplayFor(m => item.Number) - @Html.DisplayFor(m => item.Outcome)
		    </li>
	    }
    </ol>
}

