@model NumberGuessingGame.ViewModels.SecretNumberViewModel

@{
    ViewBag.Title = "Gissa det hemliga talet";
}

<h3>Spelomgången kunde inte fullföljas</h3>

<p>
    Du väntade för länge med att gissa varför spelomgången inte kunde fullföljas.
</p>

<p>
    @Html.ActionLink("Börja om", "New", null, new { @class = "btn btn-primary" })
</p>