@model NumberGuessingGame.ViewModels.SecretNumberViewModel

@{
    ViewBag.Title = "Gissa det hemliga talet";
}

@*
    Display the main page with the help of partial view
*@

<h3>@Html.DisplayFor(m => m.Header)</h3>

@if (Model.DisplayForm)
{
    @Html.Partial("_GuessForm")
}

<p>
    @foreach (var item in Model.Message())
    {
        @item
        @:&nbsp;
    }
</p>

@if (Model.SecretNumber.Count > 0)
{
    @Html.Partial("_PreviousGuesses")
}

@if (Model.SecretNumber.Number != null)
{
    @Html.ActionLink("Slumpa ett nytt tal", "New", null, new { @class = "btn btn-primary" })
}

